<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' type='image/png' href='./GoLive.png'>
  </head>
  <div style='display:flex;align-content:center'>
    <img style='height:10vh;margin-right:5px' src='./GoLive.png' />
    <div style='display:inline-block'>
      <h1 style='margin-bottom:0px'>
        GoLive
      </h1>
      <h5 style='margin-top:0px'>
        by ericw9079
      </h5>
    </div>
  </div>
  <iframe style='border:none;width:90vw;height:70vh' src='./live'>
  </iframe>
</html>