<table style='width:100%'>
  <tr>
    <td>
      <b>
        Online:
      </b>
    </td>
    <td>
      <b>
        Offline:
      </b>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top;">
      {{#each channels.online}}
        {{>online name=this}}
      {{/each}}
    </td>
    <td style="vertical-align: top;">
      {{#each channels.offline}}
        {{>offline name=this}}
      {{/each}}
    </td>
  </tr>
</table>
<script>
  setTimeout(function(){document.location.reload()}, 5000);
</script>