<style>
	.cols {
		display: flex;
		justify-content: space-between;
	}
	a {
		text-decoration: none;
	}
	dl {
		margin-top: 0;
		width: fit-content;
	}
	dt {
		text-decoration: underline;
	}
	dd {
		color: black;
	}
</style>
<div class="cols">
	<div>
		<b>Online:</b>
		<dl>
			{{#each channels.online}}
				{{>online data=this}}
			{{/each}}
		</dl>
	</div>
	<div>
		<b>Offline:</b>
		{{#each channels.offline}}
			{{>offline data=this}}
		{{/each}}
	</div>
</div>